@font-face {
    font-family: "Open Sans";
    src: url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-red-500;
}

a:hover {
    @apply underline;
}

.turbolinks-progress-bar {
    @apply bg-red-500 h-1;
}
